# Client secret for the Timeseries API
SARA_TIMESERIES_TIMESERIES_CLIENT_SECRET=
# Client secret for autheticating to use this API
SARA_TIMESERIES_AZURE_CLIENT_SECRET=

SARA_TIMESERIES_OTEL_EXPORTER_OTLP_ENDPOINT=None
SARA_TIMESERIES_LIB_LOG_LEVEL=WARNING
